* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $s-font-body;
  color: $s-color-dark;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-size: $s-font-size-sm;
  &.is-reversed {
    color: $s-color-light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $s-font-heading;
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3 {
  font-weight: 500;
}

p {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:visited,
  &:link,
  &:active,
  &:focus,
  &:hover
  {
    color: inherit;
    text-decoration: none;
    outline: none;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

button {
  cursor: pointer;
  border-radius: 0;
  border: none;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}
