// Component
// c-profile-list

/*----------------[ Variables ]----------------*/

$c-profile-list__link-color: $s-color-primary-light;


/*----------------[ Style ]----------------*/

.c-profile-list {
  font-weight: 500;
}
.c-profile-list__item {

}
.c-profile-list__number {
  display: block;
  color: $s-color-grey-70;
  padding-bottom: $s-spacing-unit / 2;
}
