// Component
// c-profile-list

/*----------------[ Variables ]----------------*/

$c-profile-list__link-color: $s-color-primary-light;
$c-profile-list__number-color: rgba($s-color-light, .3);


/*----------------[ Style ]----------------*/

.c-profile-list {
  font-weight: 500;
}

.c-profile-list__corner {
  position: absolute;
  top: 0;
  right: 30px;
  opacity: 0;
  transition: opacity 500ms;
  transition-delay: 0;
}

.c-profile-list__item {
  position: relative;
  &:hover .c-profile-list__corner{
    opacity: 1;
    transition-delay: 500ms;
  }
}
.c-profile-list__number {
  display: block;
  color: $c-profile-list__number-color;
  padding-bottom: $s-spacing-unit / 2;
}
