// Home page components

/* ----------------[ variables ]----------------*/

$c-home__transition: all 800ms ease;



$c-home-nav__number-color: rgba($s-color-light, .3);
$c-home-nav__number-color--hover: rgba($s-color-light, 1);

$c-home-underline__transition: left 500ms ease;
$c-home-underline__transition-delay: 250ms;
$c-home-underline__color: $s-color-primary;

$c-home-nav__number-transition-in: color 125ms ease-in;
$c-home-nav__number-transition-out: color 125ms ease-out;
$c-home-nav__number-transition-delay-in: 750ms;
$c-home-nav__number-transition-delay-out: 250ms;


/* ----------------[ style ]----------------*/

.c-home {

}

.c-home-center-row {

}

.c-home-nav {

}

.c-home-nav__list {

}

.c-home-nav__number {

  // Default - mobile
  display: block;
  padding-bottom: $s-spacing-unit / 2;
  color: $c-home-nav__number-color;
  @include font-size( map-get($s-font-sizes,'sm') );
  transition: $c-home-nav__number-transition-out;
  transition-delay: $c-home-nav__number-transition-delay-out;

  // Tablet - up
  @include media-breakpoint-up(sm){
    @include font-size( map-get($s-font-sizes,'sm') );
  }
}

.c-home-nav__item {

  font-weight: 500;
  @include font-size( map-get($s-font-sizes,'md') );

  // Desktop
  @include media-breakpoint-up(sm) {
    @include font-size( map-get($s-font-sizes,'lg') );
  }

  &:hover .c-home-nav__number {
    transition: $c-home-nav__number-transition-in ;
    transition-delay: $c-home-nav__number-transition-delay-in;
    color:  $c-home-nav__number-color--hover;
  }

}

.c-home-nav__link {

}

// Underline
.c-home-underline {
  padding: $s-spacing-unit 0 0;
}

.c-home-underline-mark {
  transition: $c-home-underline__transition;
  transition-delay: $c-home-underline__transition-delay;
  position: relative;
  max-width: 20%;
  margin-left: 15px;
  left: 0;

  svg {
    display: block;
    path {
      fill: $c-home-underline__color;
    }
  }

}

.c-home-underline-line {
  border-bottom: solid 1px $c-home-underline__color;
  margin-left: 15px;
  margin-right: 15px;
}
