// COMPONENT
// c-main-container

/*----------------[Variables]----------------*/

$c-main-container__background-color: $s-color-dark;

/*----------------[Variables]----------------*/

.c-main-container {
  background-color: $c-main-container__background-color;
  background-image: url('../img/landscape-1.jpg');
  background-size: cover;
  background-position: center center;
}
