// COMPONENT
// c-profile-marker

/*--------------[ variables ]---------------*/

$c-profile-marker__color: rgba($s-color-light,.3);

.c-profile-marker {
  position: relative;
  padding: $s-spacing-unit 0;
  margin: 0 (-$s-spacing-unit) 0;
}

.c-profile-marker__mark {
  display: block;
  position: relative;
  background-color: $c-profile-marker__color;
  height: 4px;
  width: 120px;
  max-width: 20%;
  margin-left: $s-spacing-unit;
  left: 0;
  transition: all 500ms ease;
  transition-delay: 250ms;
}

.c-profile-marker__line {
  height: 1px;
  width: 100%;
  margin: 0 $s-spacing-unit;
  background-color: $c-profile-marker__color;
}
