// Component
// c-main-header

/*----------------[Variables]----------------*/

$c-main-header__background-color: lighten($s-color-dark,5);

/*----------------[Variables]----------------*/
.c-main-header {
  background-color: $c-main-header__background-color;

  @each $key, $value in $s-header-heights {
    @media (min-width: map-get($s-breakpoints,$key)){
      height: map-get($s-header-heights, $key);
    }
  }
}
