// Component
// c-body

/*----------------[Variables]----------------*/

$c-body__background-color: $s-background-color;
$c-body__background-color--reversed: $s-background-color--reversed;

/*----------------[Variables]----------------*/

.c-body {
  background-color: $c-body__background-color;
  //background-image: url('../img/landscape-1.jpg');
  background-size: cover;
  background-position: center center;

  &.reversed {
    background-color: $c-body__background-color;
  }

}
