// Component
// c-nav

/*----------------[ Variables ]----------------*/

$c-nav__link-color: $s-color-primary-light;


/*----------------[ Style ]----------------*/

.c-nav {

}

.c-nav__list {
  font-size: 0;
  margin: 0;
  padding: 0;
  height: $s-font-size-sm;
}

.c-nav__item {
  display: inline;
  @include font-size($s-font-size-sm);
  margin-right: round($s-spacing-unit/2);
  color: $c-nav__link-color;

  &:last-child{
    margin-right: 0;
  }
}
.c-nav__link {
}
