// Component
// c-main-menu

/*----------------[Variables]----------------*/

$c-main-menu__background-color: transparent;

/*----------------[Style]----------------*/

.c-main-menu {
  justify-content: flex-end;
  align-items: center;
  background-color: $c-main-menu__background-color;
}

.c-main-menu__list {

}

.c-main-menu__item {
}

.c-main-menu__link {
}
