// Component
// c-nav-button

.c-nav-button__path {
  transition: all 400ms ease;
  transition-delay: 400ms;
  transform-origin: center center;
  fill: $s-color-primary-light;
  &--1 {
    transform: rotate(0) translateY(-7px);
  }
  &--2 {
    opacity: 1;
  }
  &--3 {
    transform: rotate(0) translateY(7px);
  }
}

.c-nav-button {
  transition: transform 400ms ease;
  &.is-active {
    transform: rotate(90deg);
    & .c-nav-button__path {
      &--1 {
        transform: rotate(45deg) translateY(0);
      }
      &--2 {
        opacity: 0;
      }
      &--3 {
        transform: rotate(-45deg) translateY(0);
      }
    }
  }
}
