// Global variables

// breakpoints
$s-breakpoint-xs: 480px;
$s-breakpoint-sm: 768px;
$s-breakpoint-md: 992px;
$s-breakpoint-lg: 1200px;
$s-breakpoint-xl: 1400px;

$s-breakpoints: (
  'xs': $s-breakpoint-xs,
  'sm': $s-breakpoint-sm,
  'md': $s-breakpoint-md,
  'lg': $s-breakpoint-lg,
  'xl': $s-breakpoint-xl
);

// Variables
$s-spacing-unit: 20px;

// Color
$s-color-dark: #444444;
$s-color-light: #ffffff;

$s-color-grey-02: darken($s-color-light, 02);
$s-color-grey-04: darken($s-color-light, 04);
$s-color-grey-06: darken($s-color-light, 06);
$s-color-grey-08: darken($s-color-light, 08);
$s-color-grey-10: darken($s-color-light, 10);
$s-color-grey-20: darken($s-color-light, 20);
$s-color-grey-30: darken($s-color-light, 30);
$s-color-grey-40: darken($s-color-light, 40);
$s-color-grey-50: darken($s-color-light, 50);
$s-color-grey-60: darken($s-color-light, 60);
$s-color-grey-70: darken($s-color-light, 70);
$s-color-grey-80: darken($s-color-light, 80);
$s-color-grey-90: darken($s-color-light, 90);

$s-color-greyscale: (
  '02': $s-color-grey-02,
  '04': $s-color-grey-04,
  '06': $s-color-grey-06,
  '08': $s-color-grey-08,
  '10': $s-color-grey-10,
  '20': $s-color-grey-20,
  '30': $s-color-grey-30,
  '40': $s-color-grey-40,
  '50': $s-color-grey-50,
  '60': $s-color-grey-60,
  '70': $s-color-grey-70,
  '80': $s-color-grey-80,
  '90': $s-color-grey-90
);

$s-color-primary: #166870;
$-color-primary-light: lighten($s-color-primary, 10%);
$s-color-primary-dark: desaturate(darken($s-color-primary,10%), 10);

$s-color-secondary: #eeb64a;
$-color-secondary-light: lighten($s-color-secondary, 10%);
$s-color-secondary-dark: desaturate(darken($s-color-secondary,10%), 10);

$s-color-tertiary: #ee5555;
$-color-tertiary-light: lighten($s-color-tertiary, 10%);
$s-color-tertiary-dark: desaturate(darken($s-color-tertiary,10%), 10);

$s-brand-colors: (
  'primary' : $s-color-primary,
  'secondary' : $s-color-secondary,
  'tertiary' : $s-color-tertiary
);

// Fonts
$s-font-size-xs: 10px;
$s-font-size-sm: 14px;
$s-font-size-md: 18px;
$s-font-size-lg: 22px;
$s-font-size-xl: 30px;
$s-font-size-2xl: 60px;

$s-font-sizes: (
  'xs':$s-font-size-xs,
  'sm':$s-font-size-sm,
  'md':$s-font-size-md,
  'lg':$s-font-size-lg,
  'xl':$s-font-size-xl,
  '2xl':$s-font-size-2xl,
);

// header sizing
$s-header-height-sm: 50px;
$s-header-height-md: 50px;
$s-header-height-lg: 50px;
$s-header-height-xl: 50px;

$s-header-heights: (
  'sm':$s-header-height-sm,
  'md':$s-header-height-md,
  'lg':$s-header-height-lg,
  'xl':$s-header-height-xl
);

// Footer sizing
$s-footer-height-sm: 300px;
$s-footer-height-md: 200px;
$s-footer-height-lg: 100px;
$s-footer-height-xl: 100px;

$s-footer-heights: (
  'sm':$s-footer-height-sm,
  'md':$s-footer-height-md,
  'lg':$s-footer-height-lg,
  'xl':$s-footer-height-xl
);
