// Global variables

// breakpoints
$s-breakpoint-xs: 480px;
$s-breakpoint-sm: 768px;
$s-breakpoint-md: 992px;
$s-breakpoint-lg: 1200px;
$s-breakpoint-xl: 1400px;

$s-breakpoints: (
  'xs': $s-breakpoint-xs,
  'sm': $s-breakpoint-sm,
  'md': $s-breakpoint-md,
  'lg': $s-breakpoint-lg,
  'xl': $s-breakpoint-xl
);

// Variables
$s-spacing-unit: 16px;

// Color
$s-color-dark: #282828;
$s-color-light: #ffffff;

$s-color-grey-02: lighten($s-color-dark, 98);
$s-color-grey-04: lighten($s-color-dark, 96);
$s-color-grey-06: lighten($s-color-dark, 94);
$s-color-grey-08: lighten($s-color-dark, 92);
$s-color-grey-10: lighten($s-color-dark, 90);
$s-color-grey-20: lighten($s-color-dark, 80);
$s-color-grey-30: lighten($s-color-dark, 70);
$s-color-grey-40: lighten($s-color-dark, 60);
$s-color-grey-50: lighten($s-color-dark, 50);
$s-color-grey-60: lighten($s-color-dark, 40);
$s-color-grey-70: lighten($s-color-dark, 30);
$s-color-grey-80: lighten($s-color-dark, 20);
$s-color-grey-90: lighten($s-color-dark, 10);

$s-color-greyscale: (
  '02': $s-color-grey-02,
  '04': $s-color-grey-04,
  '06': $s-color-grey-06,
  '08': $s-color-grey-08,
  '10': $s-color-grey-10,
  '20': $s-color-grey-20,
  '30': $s-color-grey-30,
  '40': $s-color-grey-40,
  '50': $s-color-grey-50,
  '60': $s-color-grey-60,
  '70': $s-color-grey-70,
  '80': $s-color-grey-80,
  '90': $s-color-grey-90
);

$s-color-primary: #38a4f3;
$s-color-primary-light: lighten($s-color-primary, 10%);
$s-color-primary-dark: desaturate(darken($s-color-primary,10%), 10);

$s-color-secondary: #eeb64a;
$s-color-secondary-light: lighten($s-color-secondary, 10%);
$s-color-secondary-dark: desaturate(darken($s-color-secondary,10%), 10);

$s-color-tertiary: #ee5555;
$s-color-tertiary-light: lighten($s-color-tertiary, 10%);
$s-color-tertiary-dark: desaturate(lighten($s-color-tertiary,10%), 10);

$s-brand-colors: (
  'primary' : $s-color-primary,
  'primary-light' : $s-color-primary-light,
  'primary-dark' : $s-color-primary-dark,
  'secondary' : $s-color-secondary,
  'secondary-light' : $s-color-secondary-light,
  'secondary-dark' : $s-color-secondary-dark,
  'tertiary' : $s-color-tertiary,
  'tertiary-light' : $s-color-tertiary-light,
  'tertiary-dark' : $s-color-tertiary-dark
);

// Fonts
$s-font-size-xs: 10px;
$s-font-size-sm: 14px;
$s-font-size-md: 18px;
$s-font-size-lg: 24px;
$s-font-size-xl: 32px;
$s-font-size-2xl: 60px;

$s-font-sizes: (
  'xs':$s-font-size-xs,
  'sm':$s-font-size-sm,
  'md':$s-font-size-md,
  'lg':$s-font-size-lg,
  'xl':$s-font-size-xl,
  '2xl':$s-font-size-2xl,
);

// header sizing
$s-header-height-sm: 50px;
$s-header-height-md: 50px;
$s-header-height-lg: 50px;
$s-header-height-xl: 50px;

$s-header-heights: (
  'sm':$s-header-height-sm,
  'md':$s-header-height-md,
  'lg':$s-header-height-lg,
  'xl':$s-header-height-xl
);

// Footer sizing
$s-footer-height-sm: 300px;
$s-footer-height-md: 200px;
$s-footer-height-lg: 100px;
$s-footer-height-xl: 100px;

$s-footer-heights: (
  'sm':$s-footer-height-sm,
  'md':$s-footer-height-md,
  'lg':$s-footer-height-lg,
  'xl':$s-footer-height-xl
);
