// Fonts

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,400i,500');
$s-font-body: 'Ubuntu', sans-serif;
$s-font-heading: 'Ubuntu', sans-serif;
$s-font-monospace: 'Ubuntu Mono', monospace;
