// Utilities

// Font size
@each $key, $value in $s-font-sizes {
  .u-font-size-#{$key} {
    @include font-size($value);
  }
}

// Color
@each $key, $value in $s-brand-colors {
  .u-color-#{$key}{
    color: $value;
  }
}
@each $key, $value in $s-color-greyscale {
  .u-color-grey-#{$key}{
    color: $value;
  }
}

// Background-color
@each $key, $value in $s-brand-colors {
  .u-background-color-#{$key}{
    background-color: $value;
  }
}

@each $key,$value in $s-color-greyscale {
  .u-background-color-grey-#{$key}{
    background-color: $value;
  }
}

// Text alignment
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-align-left {
  text-align: left;
}

// Image sizing
.u-img-max-100 {
  display: block;
  max-width: 100%;
  height: auto;
}
.u-img-100 {
  display: block;
  width: 100%;
  height: auto;
}
