/*************************************

    Mixins

**************************************/

// font-size
@mixin font-size($font-size: $s-font-size-sm, $line-height : ''){

  @if $line-height == '' {
    $line-height: round($font-size * 1.2);
  }

  font-size: $font-size;
  line-height: $line-height;

}

// Animation
@mixin animation($param) {
    @each $key, $value in $param {
      #{animation-}#{$key}:#{$value};
    }
}
