// Tools
// t-animation

/*----------------[Variables]----------------*/

// fade-in
$t-animation--fade-in__start: (
  'opacity':0,
  'transform':translate(0,20px)
);

$t-animation--fade-in__end: (
  'opacity':1,
  'transform':translate(0,0)
);

$t-animation--fade-in__parameters:(
  'name':'fade-in',
  'duration': 500ms,
  'timing-function': ease-in-out,
  'fill-mode': forwards
);

// typing
$t-animation--typing__start: (
  'width':0
);

$t-animation--typing__end: (
  'width': 100%
);

$t-animation--typing__parameters:(
  'name':'typing',
  'duration':4s,
  'timing-function': steps(66, end),
  'delay': 500ms,
  'fill-mode': forwards

);

$t-animation--cursor__parameters: (
'name': 'cursor',
'duration': 1s,
'iteration-count': infinite,
'timing-function': none
);

// Animation keyframes
@keyframes typing {
  0%   {
    @each $key, $value in $t-animation--typing__start {
      #{$key} : #{$value};
    }
  }
  100% {
    @each $key, $value in $t-animation--typing__end {
      #{$key} : #{$value};
    }
  }
}

@keyframes fade-in {
  0%   {
    @each $key, $value in $t-animation--fade-in__start {
      #{$key} : #{$value};
    }
  }
  100% {
    @each $key, $value in $t-animation--fade-in__end {
      #{$key} : #{$value};
    }
  }
}

@keyframes cursor{
  0%   {opacity: 0;}
  49%  {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 1;}
}

/*----------------[ Style ]----------------*/

// Animation properties
.t-animation{
  &--typing {
    @each $key, $value in $t-animation--typing__start {
      #{$key} : #{$value};
    }
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0;
    display: inline-block;
    &:after {
      display: inline;
      content: '_';
    }

    &.is-active {
      @include animation($t-animation--typing__parameters);
      &:after {
        @include animation($t-animation--cursor__parameters);
      }
    }
  }
  &--fade-in {
    @each $key, $value in $t-animation--fade-in__start {
      #{$key} : #{$value};
    }
    &.is-active {
      @include animation($t-animation--fade-in__parameters);
    }
  }
  &--cursor {
    &.is-active{
      @include animation($t-animation--cursor__parameters);
    }
  }
}
