- var activate_items = ['.is-animatable','anim']

doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/main.css")
  body(class="is-reversed")
    
    div(class="o-container o-container--fluid o-container--full-height c-main-container")
      
      div(class="c-main-content o-container")
        div(class="o-row o-row--vertical-bottom")
          div(class="o-col o-col-3") 
            h1(class="c-heading") Alejandro <br>Sotoca Pinilla
          
          div(class="o-col o-col-9")
            ul(class="o-row c-profile-list")
              li(class="o-col o-col-4 c-profile-list__item" data-item="1") 
                span(class="c-profile-list__number") 01
                a(class="c-profile__link" href="#") 
                  h2(class="c-subheading") Desarrollador <br>front-end
          
              li(class="o-col o-col-4 c-profile-list__item" data-item="2") 
                span(class="c-profile-list__number") 02
                a(class="c-profile__link" href="#") 
                  h2(class="c-subheading") Diseñador <br>gráfico
              
              li(class="o-col o-col-4 c-profile-list__item" data-item="3") 
                span(class="c-profile-list__number") 03
                a(class="c-profile__link" href="#") 
                  h2(class="c-subheading") Diseñador <br>web
            // /.u-profile-list
        // /.o-row
          
        div(class="o-row")
          div(class="o-col c-profile-marker")
            span(class="c-profile-marker__mark") 
        // /.o-row
        
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
    script(type="text/javascript").
      activate('#{activate_items}');
