doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/main.css")
  body
    header.main-header.is-animatable
      h1 header
    div.main-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    footer.main-footer
      nav.footer-nav
        ul.footer-nav__list
          - var i = 0
          while i < 4  
            li.footer-nav__item
              a.footer-nav__link(href="#") link
            - i++
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
    script(type="text/javascript").
       activate('.is-animatable');
