- var activate_items = ['.is-animatable','anim']

doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/main.css")
  body
    
    // main header
    include partials/header.pug
    
    div(class="o-main-content u-background-color-grey-04")
      
      section(class="o-section o-row")
        
        div(class="o-col o-col-12")
          
          h1(class="c-heading is-animatable")
            span(class="u-font-size-2xl") Alejandro Sotoca Pinilla
            br
            .
              Curriculum vitae
          article(class="o-section")
            p(class="is-animatable").
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    // main footer
    include partials/footer.pug
    
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
    script(type="text/javascript").
      activate('#{activate_items}');
