doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet", href="assets/css/style.css")
  body
    header.main-header
    div.main-content
    footer.main-footer
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
