- var activate_items = ['.is-animatable','anim']

doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/main.css")
  body(class="is-reversed c-body")
    
    // Main container
    div(class="container c-main-container")
      
      div(class="row c-main-content")
        
        div(class="col")
          
          div(class="row align-items-end")
            
            div(class="col-sm-3 col-xs-12")
              h1(class="c-heading") Alejandro <br>Sotoca Pinilla
            // /.c-main-title
            
            nav(class="col-sm-9 col-xs-12 c-home-nav")
            
              ul(class="row c-home-nav__list align-items-end")
                
                li(class="col-4 c-home-nav__item")
                  span(class="c-home-nav__number" aria-hidden="true") 1
                  a(class="c-home-nav__link").
                    Desarrollador <br>front - end
                  
                li(class="col-4 c-home-nav__item")
                  span(class="c-home-nav__number" aria-hidden="true") 2
                  a(class="c-home-nav__link").
                    Diseñador <br>gráfico
                  
                li(class="col-4 c-home-nav__item")
                  span(class="c-home-nav__number" aria-hidden="true") 3
                  a(class="c-home-nav__link").
                    Diseñador <br>web
        
        // /.col
        
      // /.row .c-main-content
      
    // /.c-main-container /.container
          
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
    script(type="text/javascript").
      activate('#{activate_items}');
