- var activate_items = ['.is-animatable','anim']

doctype
html(lang='es')
  head
    meta(charset='utf-8')
    title Portfolio
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/main.css")
  body(class="is-reversed")
    div(class="o-container o-container--fluid c-main-container")
      
      // main header
      include _partials/header-simple.pug
      
      div(class="o-main-content o-container c-main-content")
        
        div(class="o-row")
          
          div(class="o-col")
          
            section(class="o-section o-row")
              
              div(class="o-col")
                
                header(class="o-section is-animatable")
                  h1(class="c-heading is-animatable")
                    span(class="u-font-size-2xl") Alejandro Sotoca Pinilla
                  h2(class="c-subheading u-color-primary-light")
                    ul(class="c-profile-list o-row")
                      li(class="c-profile-list__item") Front-end developer
                      li(class="c-profile-list__item") Diseñador gráfico
                      li(class="c-profile-list__item") Diseñador web
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path fill="#00D09E" d="M15 2.5c6.89 0 12.5 5.61 12.5 12.5s-5.61 12.5-12.5 12.5-12.5-5.61-12.5-12.5 5.61-12.5 12.5-12.5m0-1.5c-7.73 0-14 6.27-14 14s6.27 14 14 14 14-6.27 14-14-6.27-14-14-14z"/><g stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" fill="none"><path d="M19.96 18.54l3.54-3.54-3.54-3.54M10.04 11.46l-3.54 3.54 3.54 3.54M17.46 10l-5 10"/></g></svg>
                
                // /header
                
                article(class="o-section")
                  p(class="is-animatable").
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                // /article
                
      // main footer
      include _partials/footer.pug
    
    // javascript
    script(type="text/javascript" src="assets/js/main.js")
    script(type="text/javascript").
      activate('#{activate_items}');
