footer(class="o-footer c-main-footer o-row")
  nav(class="footer-nav o-col o-col-4")
    ul(class="footer-nav__list")
      - var i = 0
      while i < 4
        li(class="footer-nav__item")
          a(class="footer-nav__link" href="#") link
        - i++
          
// /.c-main-footer
