// Object
// o-main-container

/*----------------[ Variables ]----------------*/



/*----------------[ style ]----------------*/

.o-main-container {
  position: relative;
  min-height: 100%;
  padding-top: $s-header-height-sm;

  @include media-breakpoint-up(sm){
    padding-top: $s-header-height-md;
  }

}
