// OBJECT
// o-layout

/*----------------[Variables]----------------*/

$o-layout__columns: 12;
$o-layout__padding: 15px;
$o-layout__breakpoints: (
  'sm': 768px,
  'md': 992px,
  'xl': 1200px
  );

/*----------------[Variables]----------------*/

.o-container {
  position: relative;
  width: 100%;
  margin: auto;
  padding-left: $o-layout__padding;
  padding-right: $o-layout__padding;

  @each $key, $value in $o-layout__breakpoints {
    @media (min-width: map-get($s-breakpoints, $key)) {
      max-width: $value;
    }
  }

  &--fluid {
    max-width: 100%;
  }
}

.o-row {
  position: relative;
  margin-left: - $o-layout__padding;
  margin-right: - $o-layout__padding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;

  &--vertical-flow {
    flex-direction: row;
  }
  &--vertical-center {
    align-items: center;
    align-content: center;
  }
  &--align-center {
    justify-content: center;
  }
  &--row-reverse {
    flex-flow: row-reverse;
  }
  &--column-reverse {
    flex-flow: column-reverse;
  }
}

.o-col {
  max-width: 100%;
  padding-left: $o-layout__padding;
  padding-right: $o-layout__padding;
  @for $i from 1 through $o-layout__columns {
    &--order-#{$i} {
      order: $i;
    }
  }
}

@for $i from 1 through $o-layout__columns {
  .o-col-#{$i} {
    width: (100% / $o-layout__columns) * $i;
  }
}
