// OBJECT
// o-main-content

/*----------------[Variables]----------------*/



/*----------------[Variables]----------------*/

.o-main-content {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $s-color-grey-90;
}
