// Object
// o-section

/*----------------[ Variables ]----------------*/

$o-section__padding-bottom: (
  'sm': 20px,
  'md': 20px,
  'lg': 40px
);

/*----------------[ Style ]----------------*/

.o-section {
  padding-bottom: 20px;

  @each $key, $value in $o-section__padding-bottom {
    @include media-breakpoint-up(#{$key}) {
      padding-bottom: $value;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}
